<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android" id="cordova-android-webrtc" version="1.0.0">

  <name>Cordova Android WebRTC</name>
  <description>Add missing WebRTC capabilities for Cordova Android</description>
  <license>MIT</license>

  <engines>
    <engine name="cordova" version=">=3.0.0" />
  </engines>

  <js-module src="www/index.js" name="CordovaAndroidWebRTC">
    <clobbers target="CordovaAndroidWebRTC" />
  </js-module>

  <platform name="android">
    <source-file src="src/android/com/oney/WebRTCModule/CameraEventsHandler.java" target-dir="src/com/oney/CameraEventsHandler" />
    <source-file src="src/android/com/oney/WebRTCModule/DataChannelObserver.java" target-dir="src/com/oney/DataChannelObserver" />
    <source-file src="src/android/com/oney/WebRTCModule/EglUtils.java" target-dir="src/com/oney/EglUtils" />
    <source-file src="src/android/com/oney/WebRTCModule/GetUserMediaImpl.java" target-dir="src/com/oney/GetUserMediaImpl" />
    <source-file src="src/android/com/oney/WebRTCModule/PeerConnectionObserver.java" target-dir="src/com/oney/PeerConnectionObserver" />
    <source-file src="src/android/com/oney/WebRTCModule/ReactBridgeUtil.java" target-dir="src/com/oney/ReactBridgeUtil" />
    <source-file src="src/android/com/oney/WebRTCModule/RTCVideoViewManager.java" target-dir="src/com/oney/RTCVideoViewManager" />
    <source-file src="src/android/com/oney/WebRTCModule/ThreadUtils.java" target-dir="src/com/oney/ThreadUtils" />
    <source-file src="src/android/com/oney/WebRTCModule/VideoCaptureController.java" target-dir="src/com/oney/VideoCaptureController" />
    <source-file src="src/android/com/oney/WebRTCModule/VideoTrackAdapter.java" target-dir="src/com/oney/VideoTrackAdapter" />
    <source-file src="src/android/com/oney/WebRTCModule/WebRTCModule.java" target-dir="src/com/oney/WebRTCModule" />
    <source-file src="src/android/com/oney/WebRTCModule/WebRTCModulePackage.java" target-dir="src/com/oney/WebRTCModulePackage" />
    <source-file src="src/android/com/oney/WebRTCModule/WebRTCView.java" target-dir="src/com/oney/WebRTCView" />
    <source-file src="src/android/libs/libjingle_peerconnection.so.jar" target-dir="src/libs" />
    <source-file src="src/android/libs/libwebrtc.jar" target-dir="src/libs" />

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="CordovaAndroidWebRTC">
        <param name="android-package" value="com.oney.WebRTCModule.WebRTCModule" />
      </feature>
    </config-file>
  </platform>
</plugin>
